<%- include('../header.ejs') %>
    <div id="main">
        <button onclick="location.href='/admin/write'" class="btn btn-outline-success write-btn">포스터 작성하기</button>
        <button onclick="location.href='/admin/posts'" class="btn btn-outline-success write-btn">포스터 관리</button>
        
        <div class="sub-category-add">
            <h5>카테고리 추가</h5>
            <form action="/admin/subCategory/add" method="POST">
                <input type="text" name="title" id="title">
                <button class="btn btn-primary btn-sm" type="submit">생성</button>
            </form>
        </div>

        <div class="sub-category-update">
            <h5>카테고리 수정</h5>
            <form method="POST" id="subForm">
                <select name="subId" class="form-select" aria-label="Default select example">
                    <option selected>카테고리 선택</option>
                    <% categories.forEach(subCategory => { %>
                    <option value="<%= subCategory.id %>"><%= subCategory.title %></option>
                    <% }) %>
                </select>
                <input type="text" name="title" id="title">
                <button class="btn btn-warning btn-sm" onclick="submitSubForm('/admin/subCategory/update')">수정</button>
                <button class="btn btn-danger btn-sm" onclick="submitSubForm('/admin/subCategory/delete')">삭제</button>
            </form>
        </div>
</div>

<script>
    function submitForm(action) {
        var form = document.getElementById('mainForm');
        form.action = action;
        form.submit();
    }

    function submitSubForm(action) {
        var form = document.getElementById('subForm');
        form.action = action;
        form.submit();
    }
</script>

</body>

<%- include('../footer.ejs') %>
