<%- include('../header.ejs') %>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<div>
    <form id="postForm" action="/admin/post/add" method="POST">
        <select name="mainId" class="form-select" id="mainSelect">
            <option selected>메인 카테고리 선택</option>
            <% mainCategoryList.forEach(mainCategory => { %>
            <option value="<%= mainCategory.id %>"><%= mainCategory.title %></option>
            <% }) %>
        </select>
        <select name="subId" class="form-select" id="subSelect">
            <option selected>서브 카테고리 선택</option>
        </select>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
            <input type="text" class="form-control" name="title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div id="editorContainer"></div>
        <textarea name="content" id="hiddenContent" style="display:none;"></textarea>
        <button class="btn btn-primary btn-sm" type="submit">작성</button>
    </form>

    <script>
        const editor = new toastui.Editor({
            el: document.querySelector('#editorContainer'), // 에디터를 적용할 요소 (컨테이너)
            height: '500px',                        // 에디터 영역의 높이 값 (OOOpx || auto)
            initialEditType: 'markdown',            // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
            initialValue: '내용을 입력해 주세요.',     // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
            previewStyle: 'vertical'                // 마크다운 프리뷰 스타일 (tab || vertical)
        });

        // Add submit event listener to form
        document.getElementById('postForm').addEventListener('submit', function(event) {
            console.log("EDIT >> ", editor);
            document.getElementById('hiddenContent').value = editor.getHTML();

        });
    </script>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function selectSubCategories(mainId) {
        $.ajax({
            url: 'select/subCategory',
            type: 'GET',
            data: { mainId: mainId },
            success: function(response) {
                var subSelect = $('#subSelect');
                subSelect.empty();

                if (response && response.length > 0) {
                    response.forEach(function(subCategory) {
                        var newOption = $('<option></option>')
                            .val(subCategory.id)
                            .text(subCategory.title);
                        subSelect.append(newOption);
                    });
                } else {
                    var defaultOption = $('<option></option>')
                        .text('해당 메인 카테고리에 서브 카테고리가 없습니다.');
                    subSelect.append(defaultOption);
                }
            },
            error: function(error) {
                console.error('Error fetching sub-categories:', error);
            }
        });
    }

    $('#mainSelect').on('change', function() {
        var selectedMainCategoryId = $(this).val();
        if (selectedMainCategoryId && selectedMainCategoryId !== '메인 카테고리 선택') {
            selectSubCategories(selectedMainCategoryId);
        } else {
            $('#subSelect').empty();
            var defaultOption = $('<option></option>')
                .text('서브 카테고리 선택');
            $('#subSelect').append(defaultOption);
        }
    });
</script>

</body>

<%- include('../footer.ejs') %>
