<%- include('./header.ejs') %>

		
            <div id="main">
                <section id="one">
                    <header class="major">
                        <h2><%= post.title %></h2>
                    </header>
                    <div id="content">
                        <p><%= post.content %></p>
                    </div>
                </section>
            </div>
<%- include('./footer.ejs') %>
