<%- include('./header.ejs') %>
            <div id="main">
                <section id="one">
                    <header class="major">
                        <h2><%= firstPost.title %></h2>
                    </header>
                    <div id="content">
                        <p><%= firstPost.content %></p>
                    </div>
                </section>
            </div>
<%- include('./footer.ejs') %>
