<div class="post">
    <div class="post-top-banner">
        <div class="title"><h2><%= firstPost.title %></h2></div>
        <div class="createdAt">
            <span><%= formatDate(firstPost.createdAt) %></span>
        </div>
    </div>
    <div class="content">
        <span><%= firstPost.content %></span>
    </div>
</div>

<% 
    function formatDate(dateString) {
        const date = new Date(dateString);
        const year = date.getFullYear();
        const month = date.getMonth() + 1;
        const day = date.getDate();

        return `${year}년 ${month}월 ${day}일`
    }
 %>