.sidebar-sub-list {
    width: 100%; /* submenu를 menu-toggle 아래에 배치 */
    display: none; /* 기본적으로 숨김 */
    flex-direction: column; /* 세로 정렬 */
}

.sidebar-sub-list.active {
    display: flex; /* 토글 시 보이도록 변경 */
}

.menu-toggle {
    flex: 1;
    font-weight: bold;
}

.sidebar-post-list {
    display: none; /* 초기에는 숨김 상태 */
    margin-left: 20px; /* 서브메뉴와 구분하기 위한 간격 설정 */
}

.sidebar-post-list.active {
    display: block; /* 토글 시 보이도록 변경 */
}

.sidebar-list,
.sidebar-sub-list,
.sidebar-post-list {
    list-style-type: none; /* li 태그의 마커 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.post-detail {
    border-left: 2px solid #eee;
    padding-left: 10px;
}