.menu-toggle {
    flex: 1;
    font-weight: bold;
}

.sidebar-post-list {
    display: none; /* 초기에는 숨김 상태 */
}

.sidebar-post-list.active {
    display: block; /* 토글 시 보이도록 변경 */
}

.sidebar-post-list {
    list-style-type: none; /* li 태그의 마커 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.post-detail {
    display: flex;
    align-items: center;
    border-left: 2px solid #eee;
    margin-bottom: 2px;
}

.sub-toggle {
    position: relative;
    padding-left: 0; /* 필요에 따라 padding 조절 */
}

.sub-toggle a {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none; /* 필요 시 추가 */
}

.navbar-nav {
    display: flex;
    align-items: center; /* 세로 정렬을 중앙으로 */
}

.nav-item {
    display: flex;
    align-items: center; /* 세로 정렬을 중앙으로 */
}