@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.main {
    margin-top: 3%;
    display: flex;
}

.post-tap, .side-tap {
    flex-direction: column;
}

.post-tap {
    width: 80%;
    background-color: #f5f5f5;
}

.createdAt, .content {
    padding: 10px;
}

.content {
    height: 100%;
    margin-top: 40px;
    background-color: white;
}

.content code {
    background-color: rgb(194, 181, 181);
}

.side-tap, .title, .post, .post-tap {
    padding: 20px; /* 상하좌우 20px 여백 설정 */
}

.post-top-banner {
    background-color: #f5f5f5;
}

.side-tap {
    float: right;
    width: 20%;
    height: 850px;
    border-left: 1px solid gray;
}

.menu-toggle:hover, .sub-toggle:hover, .post-detail:hover {
    font-weight: bolder;
}


.sub-toggle, .post-detail {
    list-style-type: none;
    margin-left: 15px;
}

.sub-toggle, .main-menu {
    display: flex;
    align-items: center;
}

.post-detail>a {
    color: black;
    text-decoration: none;
}

.main-menu, .sub-table {
    display: flex;
}

.menu>img {
    padding-right: 10px;
}

.table {
    width: 50%;
}

.sub-title-td {
    width: 40%;
}

.admin-main, .admin-sub {
    display: flex;
}

.table-primary>td{
    white-space: nowrap;
}

.main-category-add, .main-category-update, .sub-category-add, .sub-category-update {
    padding: 20px;
    margin-bottom: 30px;
}

.write-btn {
    margin-left: 10px;
}
