.submenu {
    width: 100%; /* submenu를 menu-toggle 아래에 배치 */
    display: none; /* 기본적으로 숨김 */
    flex-direction: column; /* 세로 정렬 */
}

.submenu.active {
    display: flex; /* 토글 시 보이도록 변경 */
}

.menu-toggle {
    flex: 1;
}

.posts {
    display: none; /* 초기에는 숨김 상태 */
    margin-left: 20px; /* 서브메뉴와 구분하기 위한 간격 설정 */
}

.posts.active {
    display: block; /* 토글 시 보이도록 변경 */
}

.main {
    margin-top: 3%;
    display: flex;
}

.post-tap, .side-tap {
    flex-direction: column;
}

.post-tap {
    width: 70%;
    background-color: yellow;
}

.createdAt, .content {
    padding: 10px;
}

.side-tap, .title, .post, .post-tap {
    padding: 20px; /* 상하좌우 20px 여백 설정 */
}

.post-top-banner {
    background-color: cornsilk;
}

.side-tap {
    width: 30%;
    background-color: blanchedalmond;
}

.menu-toggle:hover, .sub-toggle:hover, .post-detail:hover {
    font-weight: bolder;
}


.sub-toggle, .post-detail {
    list-style-type: none;
    margin-left: 15px;
}

.sub-toggle, .main-menu {
    display: flex;
    align-items: center;
}

.post-detail>a {
    color: black;
    text-decoration: none;
}

.main-menu {
    display: flex;
}

.menu>img {
    padding-right: 10px;
}
